html{
    background-color: rgb(124, 207, 235);
}

/****************ENERO*****************/
/*div.Enero {
    font-family: ;  
}*/

table.Enero {
    background-color: lightgoldenrodyellow;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: black 1px solid;
}

/*tr {
    border: black 1px solid;
    margin-bottom: 10px;
}*/

td {
    padding: 10px;
}

/****************FEBRERO*****************/
/*div.Febrero {
    font-family: ;   
}*/

table.Febrero {
    background-color: lightgoldenrodyellow;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: black 1px solid;
}

/****************MARZO*****************/
/*div.Marzo {
    font-family: ;  
}*/

table.Marzo {
    background-color: lightgoldenrodyellow;
    padding-left: 93px;
    padding-right: 93px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: black 1px solid;
}

caption {
    background-color: lightgoldenrodyellow;
    border: black 1px solid;
}
